<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:10:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigateSwagLabs.login()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">login</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:10:23</td>   <td>12837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigateSwagLabs.loginHomePageAddItemsOnCart()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">loginHomePageAddItemsOnCart</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:10:39</td>   <td>29197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigateSwagLabs.populateYourInformation()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">populateYourInformation</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:10:10</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigateSwagLabs.checkingOutTheCart()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">checkingOutTheCart</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:09:56</td>   <td>-13710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigateSwagLabs.beforeTest()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">beforeTest</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="74a4c0">  <td>21/10/20 14:10:43</td>   <td>33108</td> <td>&nbsp;</td><td title="&lt;&lt;navigateSwagLabs.afterTest()[pri:0, instance:SwagLabs.navigateSwagLabs@4b29d1d2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1795816257</td>   <td></td> </tr>
</table>
